<section class="about-development about-development--seo">
  <div class="container">
    <div
      class="about-development__uppertitle uppertitle"
      data-aos="fade-right"
      data-aos-duration="1000"
    >
      <span class="uppertitle__text">О ПРОДВИЖЕНИИ</span>

      <span class="uppertitle__box"></span>
      <span class="uppertitle__line"></span>
    </div>
    <div
      class="about-development__top"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      <div class="about-development__text">
        В зависимости от специфики бизнес-модели и целей рекомендуем
        классическое SEO, тотальное или оплату за трафик. Конечная цена зависит
        от множества факторов, таких как частотность фраз, конкурентность
        тематики, исходного состояния веб-ресурса.
      </div>
      <h2 class="about-development__heading">
        <span>Что вы в результате</span> получите?
      </h2>
    </div>

    <ul class="about-development__list">
      <li class="development-item" data-aos="fade-up" data-aos-duration="1000">
        <div class="development-item__top">
          <span class="development-item__count"> 01</span>
          <span class="development-item__title">
            Рост целевой <br />
            аудитории
          </span>
        </div>
        <p class="development-item__text">
          Продвижение приоритетных направлений вашего бизнеса
        </p>
      </li>
      <li class="development-item" data-aos="fade-up" data-aos-duration="1000">
        <div class="development-item__top">
          <span class="development-item__count"> 02</span>
          <span class="development-item__title">
            Рост продаж <br />
            товаров или услуг
          </span>
        </div>
        <p class="development-item__text">
          Работа над юзабилити сайта и повышением конверсии
        </p>
      </li>
      <li class="development-item" data-aos="fade-up" data-aos-duration="1000">
        <div class="development-item__top">
          <span class="development-item__count"> 03</span>
          <span class="development-item__title">
            Стабильность <br />
            продаж
          </span>
        </div>
        <p class="development-item__text">
          Постоянный трафик с поисковых <br />
          систем
        </p>
      </li>
    </ul>
  </div>
</section>
