<section class="about-page">
  <span class="circle" data-aos="fade-left" data-aos-duration="1000"></span>
  <div class="about-page__top">
    <div class="about-page__top-inner">
      <div class="container">
        <h1 class="about-title" data-aos="fade-up" data-aos-duration="1000">
          Адванс-медиа

          <div class="about-title__imgs">
            <div class="about-title__img about-title__img--small">
              <img src="img/about-page-title/small.png" alt="small" />
            </div>
            <div class="about-title__img about-title__img--big">
              <img src="img/about-page-title/big.png" alt="small" />
            </div>
          </div>
        </h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="about-page__wrapper">
      <div
        class="scheme__uppertitle uppertitle"
        data-aos="fade-right"
        data-aos-duration="1000"
      >
        <span class="uppertitle__text">О НАС</span>

        <span class="uppertitle__box"></span>
        <span class="uppertitle__line"></span>
      </div>

      <h2
        class="about-page__heading"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <span>Комплексный подход</span> в разработке
      </h2>

      <div class="about-page__text" data-aos="fade-up" data-aos-duration="1000">
        <p>
          Мы успешно работаем более 5 лет. Занимаемся разработкой, доработкой,
          обслуживанием и продвижением интернет проектов. За несколько лет
          работы мы успешно реализовали более 200 проектов. Яркие лендинги,
          уникальные корпоративные сайты, функциональные интернет-магазины –
          проекты , которыми мы гордимся.
        </p>
        <p>
          Вы все еще в поиске агентства, которое смогло бы реализовать все ваши
          задумки? Мы поможем Вам! Адванс Медиа станет надёжным партнёром Вашего
          проекта. Работаем исключительно на результат, поэтому предлагаем Вам
          черновой вариант дизайна совершенно бесплатно.
        </p>
      </div>

      <ul class="about-page__list" data-aos="fade-up" data-aos-duration="1000">
        <li class="about-page-item">
          <span class="about-page-item__count">01</span>
          <p class="about-page-item__text">
            Мы разрабатываем адаптивные веб-сайты. Это значит, что Ваш сайт
            будет корректно отображаться на всех устройствах.
          </p>
        </li>
        <li class="about-page-item">
          <span class="about-page-item__count">02</span>
          <p class="about-page-item__text">
            Проект который мы разрабатываем всегда готов к продвижению во всех
            актуальных рекламных каналах.
          </p>
        </li>
        <li class="about-page-item">
          <span class="about-page-item__count">03</span>
          <p class="about-page-item__text">
            Мы разрабатываем адаптивные веб-сайты. Это значит, что Ваш сайт
            будет корректно отображаться на всех устройствах.
          </p>
        </li>
      </ul>

      <span
        class="about-page__note"
        data-aos="fade-right"
        data-aos-duration="1000"
      >
        Звоните или оставляйте заявку, будем рады помочь!
      </span>
    </div>
  </div>
</section>
