<section class="about-development">
  <div class="container">
    <div
      class="about-development__uppertitle uppertitle"
      data-aos="fade-right"
      data-aos-duration="1000"
    >
      <span class="uppertitle__text">О РАЗРАБОТКЕ</span>

      <span class="uppertitle__box"></span>
      <span class="uppertitle__line"></span>
    </div>
    <div
      class="about-development__top"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      <div class="about-development__text">
        Опыт и анализ выполненных проектов позволяет нам стабильно улучшать
        качество работ. Мы выполняем ожидания крупнейших компаний: Бинбанк,
        Castrol, Samsung, 1С и т.д. Большинство запросов на разработку сайтов
        поступает по рекомендациям наших клиентов. Мы разрабатываем
      </div>
      <h2 class="about-development__heading">Мы <span>разрабатываем</span></h2>
    </div>

    <ul class="about-development__list">
      <li class="development-item" data-aos="fade-up" data-aos-duration="1000">
        <div class="development-item__top">
          <span class="development-item__count"> 01</span>
          <span class="development-item__title">
            Интернет <br />
            магазины
          </span>
        </div>
        <p class="development-item__text">
          Многофункциональный ресурс. Основная задача, автоматизация и
          монетизация Вашего бизнеса в интернете.
        </p>
      </li>
      <li class="development-item" data-aos="fade-up" data-aos-duration="1000">
        <div class="development-item__top">
          <span class="development-item__count"> 02</span>
          <span class="development-item__title">
            Корпоративные <br />
            сайта
          </span>
        </div>
        <p class="development-item__text">
          Многофункциональный ресурс. Основная задача, автоматизация и
          монетизация Вашего бизнеса в интернете.
        </p>
      </li>
      <li class="development-item" data-aos="fade-up" data-aos-duration="1000">
        <div class="development-item__top">
          <span class="development-item__count"> 03</span>
          <span class="development-item__title">
            Онлайн сервисы <br />
            и платвормы
          </span>
        </div>
        <p class="development-item__text">
          Многофункциональный ресурс. Основная задача, автоматизация и
          монетизация Вашего бизнеса в интернете.
        </p>
      </li>
      <li class="development-item" data-aos="fade-up" data-aos-duration="1000">
        <div class="development-item__top">
          <span class="development-item__count"> 04</span>
          <span class="development-item__title">
            Лендинги и <br />
            промо сайты
          </span>
        </div>
        <p class="development-item__text">
          Многофункциональный ресурс. Основная задача, автоматизация и
          монетизация Вашего бизнеса в интернете.
        </p>
      </li>
    </ul>
  </div>
</section>
