<section class="about-development about-development--mobile">
  <div class="container">
    <div
      class="about-development__uppertitle uppertitle"
      data-aos="fade-right"
      data-aos-duration="1000"
    >
      <span class="uppertitle__text">О РАЗРАБОТКЕ</span>

      <span class="uppertitle__box"></span>
      <span class="uppertitle__line"></span>
    </div>
    <div
      class="about-development__top"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      <div class="about-development__text">
        Выводите ваш бизнес на новый уровень, предложив клиентам и сотрудникам
        больше возможностей! Мобильное приложение поможет упорядочить и
        стандартизировать процессы, повысить качество продаж, обеспечить
        обучение персонала, наладить планирование и контроль выполнения рабочих
        задач. И все это удобно, понятно, с разумной автоматизацией и
        геймификацией.
      </div>
      <h2 class="about-development__heading">
        <span>Типы приложений</span>, которые мы разрабатываем
      </h2>
    </div>

    <ul class="about-development__list">
      <li class="development-item" data-aos="fade-up" data-aos-duration="1000">
        <div class="development-item__top">
          <span class="development-item__count"> 01</span>
          <span class="development-item__title">
            Интернет - магазины, <br />
            маркетплейсы и доставка
          </span>
        </div>
        <p class="development-item__text">
          Любые интернет-магазины, маркетплейсы, торговые площадки. Возможна как
          интеграция с существующим интернет-магазином, так и разработка с нуля.
        </p>
      </li>
      <li class="development-item" data-aos="fade-up" data-aos-duration="1000">
        <div class="development-item__top">
          <span class="development-item__count"> 02</span>
          <span class="development-item__title">
            Грузоперевозки, такси, <br />
            пассажирские перевозки
          </span>
        </div>
        <p class="development-item__text">
          Системы вида Яндекс Такси, Uber, InDriver и т.д., которые позволяют
          Клиентам опубликовать заявку на перевозку и найти Водителя.
        </p>
      </li>
      <li class="development-item" data-aos="fade-up" data-aos-duration="1000">
        <div class="development-item__top">
          <span class="development-item__count"> 03</span>
          <span class="development-item__title">
            Услуги: курьеры, <br />
            клининг, ремонт, эвакуаторы и т.д.
          </span>
        </div>
        <p class="development-item__text">
          Системы вида Фриланс, YouDo, Profi.ru т.д. Которые позволяют Клиентам
          опубликовать заявку и найти подходящего Исполнителя.
        </p>
      </li>
    </ul>
  </div>
</section>
