<section class="about">
  <div class="container">
    <div
      class="about__uppertitle uppertitle"
      data-aos="fade-right"
      data-aos-duration="1000"
    >
      <span class="uppertitle__text"> О компании </span>

      <span class="uppertitle__box"></span>
      <span class="uppertitle__line"></span>
    </div>

    <div class="about__wrapper">
      <p class="about__text" data-aos="fade-right" data-aos-duration="1000">
        Работаем с любым видом бизнеса
      </p>
      <div class="about__content">
        <a
          class="about__link js-tilt"
          href="#"
          data-aos="fade-left"
          data-aos-duration="1000"
        >
          <span class="about__icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="281px"
              height="290px"
              viewBox="0 0 281 290"
            >
              <path
                fill-rule="evenodd"
                fill="#fff"
                d="M129.28961,1.9995117 C199.58972,1.9995117 278.77655,57.5708 278.99994,127.89111 C279.22687,199.3374 215.49829,288.354 143.99927,282.7256 C74.818695,277.28027 2.1713867,199.70703 1.999939,129.32666 C1.8286133,59.00586 58.98947,1.9995117 129.28961,1.9995117 Z"
                stroke="#9295a8"
              />
            </svg>
          </span>
          <span> e-commerce</span>
        </a>

        <a
          class="about__link js-tilt"
          href="#"
          data-aos="fade-right"
          data-aos-duration="1000"
        >
          <span class="about__icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="281px"
              height="290px"
              viewBox="0 0 281 290"
            >
              <path
                fill-rule="evenodd"
                fill="#fff"
                d="M129.28961,1.9995117 C199.58972,1.9995117 278.77655,57.5708 278.99994,127.89111 C279.22687,199.3374 215.49829,288.354 143.99927,282.7256 C74.818695,277.28027 2.1713867,199.70703 1.999939,129.32666 C1.8286133,59.00586 58.98947,1.9995117 129.28961,1.9995117 Z"
                stroke="#9295a8"
              />
            </svg>
          </span>
          B2B
        </a>

        <a
          class="about__link js-tilt"
          href="#"
          data-aos="fade-left"
          data-aos-duration="1000"
        >
          <span class="about__icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="281px"
              height="290px"
              viewBox="0 0 281 290"
            >
              <path
                fill-rule="evenodd"
                fill="#fff"
                d="M129.28961,1.9995117 C199.58972,1.9995117 278.77655,57.5708 278.99994,127.89111 C279.22687,199.3374 215.49829,288.354 143.99927,282.7256 C74.818695,277.28027 2.1713867,199.70703 1.999939,129.32666 C1.8286133,59.00586 58.98947,1.9995117 129.28961,1.9995117 Z"
                stroke="#9295a8"
              />
            </svg>
          </span>
          финансы
        </a>

        <a
          class="about__link js-tilt"
          href="#"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          <span class="about__icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="281px"
              height="290px"
              viewBox="0 0 281 290"
            >
              <path
                fill-rule="evenodd"
                fill="#fff"
                d="M129.28961,1.9995117 C199.58972,1.9995117 278.77655,57.5708 278.99994,127.89111 C279.22687,199.3374 215.49829,288.354 143.99927,282.7256 C74.818695,277.28027 2.1713867,199.70703 1.999939,129.32666 C1.8286133,59.00586 58.98947,1.9995117 129.28961,1.9995117 Z"
                stroke="#9295a8"
              />
            </svg>
          </span>
          медицина
        </a>
      </div>
    </div>
  </div>
</section>
