<section class="about-program">
  <div class="container">
    <div
      class="about-program__uppertitle uppertitle"
      data-aos="fade-right"
      data-aos-duration="1000"
    >
      <span class="uppertitle__text">О ПРОГРАММЕ</span>

      <span class="uppertitle__box"></span>
      <span class="uppertitle__line"></span>
    </div>
    <div class="about-program__top" data-aos="fade-up" data-aos-duration="1000">
      <div class="about-program__text">
        <p>
          Если у вас есть клиент, который хочет разработать корпоративную
          систему, мобильное приложение или создать веб-проект — передавайте его
          в Делаем и получайте вознаграждение от каждой сделки.
        </p>
        <p>
          Например, если клиент, которого вы передадите нашему проектному
          менеджеру, закажет разработку <span></span>
          за 3 000 000 ₽, мы в течение недели выплатим вам бонус 300 000 ₽.
        </p>
      </div>
      <h2 class="about-program__heading">Какие <span>Ваши действия?</span></h2>
    </div>

    <div class="about-program__wrapper">
      <ul
        class="about-program__list"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <li class="about-program-item">
          <span class="about-program-item__count">01</span>
          <p class="about-program-item__text">
            Предлагать помощь бизесменам в решении задач
          </p>
        </li>
        <li class="about-program-item">
          <span class="about-program-item__count">02</span>
          <p class="about-program-item__text">
            Предлагать услуги в бизнес-центрах города
          </p>
        </li>
        <li class="about-program-item">
          <span class="about-program-item__count">03</span>
          <p class="about-program-item__text">
            Посещать бизнес- сообщества, бизнес- завтраки
          </p>
        </li>
        <li class="about-program-item">
          <span class="about-program-item__count">04</span>
          <p class="about-program-item__text">
            Устанавливать личные контакты на выставках, форумах, конференциях
          </p>
        </li>
        <li class="about-program-item">
          <span class="about-program-item__count">05</span>
          <p class="about-program-item__text">
            Размещать у себя в соц. сетях посты о онлайн-бизнесе
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
