<section class="additionally additionally--seo">
  <div class="container">
    <div
      class="additionally__uppertitle uppertitle"
      data-aos="fade-right"
      data-aos-duration="1000"
    >
      <span class="uppertitle__text">ДОПЫ</span>

      <span class="uppertitle__box"></span>
      <span class="uppertitle__line"></span>
    </div>
    <div class="additionally__top" data-aos="fade-up" data-aos-duration="1000">
      <div class="additionally__text">
        Первые позиции в поисковых результатых Яндекса значительно повышают
        вероятность, что покупатель кликнет и перейдет на сайт. Но переходы не
        означают наличие заказов - нужно анализировать коммерчесеи факторы.!
      </div>
      <h2 class="additionally__heading">
        Создание и разработка приложений в <span>Адванс Медиа</span>
      </h2>
    </div>

    <div class="additionally__wrapper">
      <div
        class="additionally__preview"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <picture>
          <source srcset="img/additionally-img.webp" type="image/webp" />
          <img src="img/additionally-img.png" alt="адванс медия" />
        </picture>
      </div>
      <div
        class="additionally__right"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <p>
          Вы поставили цель попасть в ТОП? Тогда вам нужна услуга поискового SEO
          продвижения сайта. Это комплексная работа над проектом и факторами
          ранжирования. Основная цель — улучшить видимости в Яндекс и Google, а
          так же вывести запросы на топовые позиции.
        </p>

        <p>
          Мы предлагаем наши услуги не только в Москве, но и по всей России.
          Наши специалисты имеют уникальный и многолетний опыт по продвижению в
          Яндексе, Google и других поисковых системах. Благодаря этому мы смогли
          достигнуть таких результатов в Seo продвижении.
        </p>
      </div>
    </div>
  </div>
</section>
