<section class="additionally">
  <div class="container">
    <div
      class="additionally__uppertitle uppertitle"
      data-aos="fade-right"
      data-aos-duration="1000"
    >
      <span class="uppertitle__text">ДОПЫ</span>

      <span class="uppertitle__box"></span>
      <span class="uppertitle__line"></span>
    </div>
    <div class="additionally__top" data-aos="fade-up" data-aos-duration="1000">
      <div class="additionally__text">
        Опыт и анализ выполненных проектов позволяет нам стабильно улучшать
        качество работ. Мы выполняем ожидания крупнейших компаний: Бинбанк,
        Castrol, Samsung, 1С и т.д. Большинство запросов на разработку сайтов
        поступает по рекомендациям наших клиентов.
      </div>
      <h2 class="additionally__heading">
        Создание и разработка сайтов в <span>Адванс Медиа</span>
      </h2>
    </div>

    <div class="additionally__wrapper">
      <div
      class="additionally__preview"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      <div class="circle circle-1">
        <div class="circle circle-2"></div>

        <div class="logo-multi logo-multi-1">
          <img src="img/logo-multi/1.png" alt="logo-multi" />
        </div>
        <div class="logo-multi logo-multi-2">
          <img src="img/logo-multi/2.png" alt="logo-multi" />
        </div>
        <div class="logo-multi logo-multi-3">
          <img src="img/logo-multi/3.png" alt="logo-multi" />
        </div>
      </div>
    </div>
      <div
        class="additionally__right"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <p>
          Наше агентство предлагает разработку и продвижение сайтов на
          эффективном уровне. Для этого в нашей команде есть все специалисты, от
          верстальщика до таргетолога. Сотрудники работают в офисе. Мы не
          задействуем фрилансеров, чтобы обеспечить полноценный контроль на
          каждом этапе выполнения заказа.
        </p>
        <p>
          Показываем результат работы на деле. В 90% случаев заказчики начинают
          продавать товары или услуги в день запуска проекта, при условии
          настройки контекстной рекламы. При дальнейшем продвижении ресурс
          начинает занимать лидирующие позиции в нише по высокочастотным и
          низкочастотным запросам.
        </p>
        <p>
          Создание коммерческого сайта и интернет-магазина различного уровня
          сложности. Создадим любую архитектуру, обеспечим адаптивность на любом
          экране. Сверстаем ресурс с чистым кодом и удобным дизайном. Наполним
          страницы формами захвата с читабельными УТП.
        </p>
        <p>
          Настройка контекста без слива бюджета. Только результативные кампании
          с соответствующим уровнем CTR. Напишем привлекательные заголовки и
          описание. Подберём оптимальную целевую аудиторию, приведём клиентов и
          покупателей.
        </p>
      </div>
    </div>
  </div>
</section>
