<section class="additionally additionally--mobile">
  <div class="container">
    <div
      class="additionally__uppertitle uppertitle"
      data-aos="fade-right"
      data-aos-duration="1000"
    >
      <span class="uppertitle__text">ДОПЫ</span>

      <span class="uppertitle__box"></span>
      <span class="uppertitle__line"></span>
    </div>
    <div class="additionally__top" data-aos="fade-up" data-aos-duration="1000">
      <div class="additionally__text">
        Наши специалисты выполняют работы качественно, профессионально и в
        согласованные сроки. Обращаясь к нам, вы сможете заказать не только
        создание мобильного приложения под iOS и Android, но и другие этапы
        разработки программного продукта – под ключ.
      </div>
      <h2 class="additionally__heading">
        Создание и разработка приложений в <span>Адванс Медиа</span>
      </h2>
    </div>

    <div class="additionally__wrapper">
      <div
        class="additionally__preview"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <picture>
          <source srcset="img/additionally-img.webp" type="image/webp" />
          <img src="img/additionally-img.png" alt="адванс медия" />
        </picture>
      </div>
      <div
        class="additionally__right"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <p>
          По статистике большинство приложений удаляются с рабочего стала через
          несколько дней после установки. Именно поэтому очень важно сделать
          дизайн, который привлекал бы пользователей кроме функциональных
          составляющих. В студии «Адванс Медиа» мы уделяем большое внимание
          разработке дизайна, чтобы интерфейс не был перегруженным, чтобы на
          него хотелось смотреть снова и снова.
        </p>

        <p>
          Обратившись в нашу компанию, Вы сможете ни только сэкономить свое
          время и деньги, но и получите достойный результат по приемлемым ценам.
          Стоимость дизайна определяется индивидуально в каждом конкретном
          случае после детального изучения поставленной задачи перед нами.
          Стоимость зависит от срочности выполнения заказа, задач приложения и
          сложности выполнения разработки проекта.
        </p>
      </div>
    </div>
  </div>
</section>
