<section class="article">
  <div class="container">
    <div class="article__top">
      <a class="article__back btn-back" href="blog.html">Вернуться назад</a>

      <ul class="blog__top-list">
        <li class="blog__top-item">
          <button class="blog__top-btn" type="button">#все</button>
        </li>
        <li class="blog__top-item">
          <button class="blog__top-btn" type="button">#CRM</button>
        </li>
        <li class="blog__top-item">
          <button class="blog__top-btn" type="button">
            #мобильная_разработка
          </button>
        </li>
        <li class="blog__top-item">
          <button class="blog__top-btn" type="button">#программирование</button>
        </li>
        <li class="blog__top-item">
          <button class="blog__top-btn" type="button">#интернет_магазин</button>
        </li>
      </ul>
    </div>

    <div class="article__wrapper">
      <h1 class="article__title">
        Проектирование — как основа основ при создании сайта. Все тонкости
        работы над проектом
      </h1>
      <p>
        В прошлой статье «Проектирование — как основа основ при создании сайта.
        Проектные работы» я уже говорил, насколько важен и необходим этап
        проектирования при разработке современного сайта. На этот раз мы
        подробнее поговорим о том, чем занимается каждый специалист при работе
        над проектом, а также почему для одного сайта необходим полный спектр
        услуг по проектированию, а для другого можно обойтись минимальными
        требованиями.
      </p>
      <article class="article__article">
        <h2 class="article__heading">
          Почему всех специалистов по проектированию нельзя заменить одним
        </h2>
        <p>
          Многих волнует вопрос, почему над проектом работает целая команда.
          Постараюсь ответить просто: чтобы справиться одному, необходимо
          совместить в себе несколько квалификаций — маркетолога, бизнес- и
          системного аналитика, дизайнера интерфейсов. Все три направления
          достаточно сложные, на получение высоких компетенций по каждой из
          которых уходит много времени. Один специалист будет работать слишком
          долго, а это критично для проектирования, ведь оно должно быть быстрым
          и не затягивать сроки реализации.
        </p>

        <picture>
          <source
            srcset="
              https://images.unsplash.com/photo-1669461734596-b126134d0dfa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxOHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60.webp
            "
            type="image/webp"
          />
          <img
            class="article__img"
            src="https://images.unsplash.com/photo-1669461734596-b126134d0dfa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxOHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60"
            alt=""
          />
        </picture>
      </article>

      <article class="article__article">
        <h2 class="article__heading">Бизнес-аналитики и маркетологи</h2>
        <p>
          На старте работ бизнес-аналитики совместно с маркетологами определяют,
          каким образом будущий сайт поможет достичь целей заказчика, а также
          что будет препятствовать этому. Важной задачей стоит и анализ того,
          какой рост имеет будущий проект.
        </p>
        <p>
          Обычно специалисты начинают с досконального изучения бизнеса клиента —
          его специфики, позиционирования, репутации. Они много общаются с
          заказчиком, узнают у него ключевые запросы, конкурентов, целевую
          аудиторию, текущую маркетинговую стратегию.
        </p>

        <p>
          Затем тщательно изучают сайты конкурентов в отрасли клиента — в
          поисках недостатков и успешных решений конкретных задач. Проводят
          анализ аудитории — ее возраста, сегментирования, каналов трафика,
          поведения посетителей. Для некоторых наиболее сложных проектов
          необходимо подробнее исследовать логику их поведения, потребности.
        </p>
        <p>
          Такие специалисты способны определить шаги, которые пользователю
          необходимо совершить для достижения цели, составить так называемую
          карту пути пользователя. Важным инструментом также являются карты
          скроллов и кликов, с помощью которых очень легко проанализировать, где
          пользователь ведет себя наиболее активно и именно в эти места
          расположить самые важные элементы, например, меню, формы для обратной
          связи или оформления заказа.
        </p>
        <picture>
          <source
            srcset="
              https://images.unsplash.com/photo-1669461734596-b126134d0dfa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxOHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60.webp
            "
            type="image/webp"
          />
          <img
            class="article__img mb"
            src="https://images.unsplash.com/photo-1669461734596-b126134d0dfa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxOHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60"
            alt=""
          />
        </picture>
        <p>
          Таким образом, работа бизнес-аналитика и маркетолога значительно
          упрощает разработку сайта на этапе проектирования — заказчика сразу
          понимает с какой целью и каким образом будет работать его будущий
          проект.
        </p>
      </article>

      <article class="article__article">
        <h2 class="article__heading">Системные аналитики и SEO-специалисты</h2>
        <p>
          SEO-специалист занимается формированием структуры сайта. Для этого,
          как правило, он собирает семантическое ядро (список запросов, по
          которым пользователь сможет найти сайт в поисковых системах), на
          основе которого формируется список необходимых страниц. После этого
          системный аналитик проектирует техническое решение на основе тех
          данных, которые подготовили бизнес-аналитики, маркетологи и сеошники,
          т. е. прорабатывают все возможные пользовательские и системные
          сценарии, требования, отрабатывают все ошибки и сбои.
        </p>
        <p>
          Обычно в процессе проектирования специалист тесно контактирует с
          командой разработчиков для наиболее правильной технической реализации.
          Проще говоря, системный аналитик отвечает за все то, что будет
          происходить внутри будущего сайта.
        </p>
      </article>

      <article class="article__article">
        <h2 class="article__heading">UX-специалисты</h2>
        <p>
          UX-специалист все полученные аналитические данные превращает в будущий
          проект, в результате чего получается прототип — упрощенный
          схематический вариант готового продукта, который отображает страницы,
          кнопки, формы, что позволяет увидеть как будет выглядеть законченный
          сайт и протестировать его до старта этапа разработки.
        </p>
        <picture>
          <source
            srcset="
              https://images.unsplash.com/photo-1669461734596-b126134d0dfa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxOHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60.webp
            "
            type="image/webp"
          />
          <img
            class="article__img"
            src="https://images.unsplash.com/photo-1669461734596-b126134d0dfa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxOHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60"
            alt=""
          />
        </picture>
      </article>

      <article class="article__article">
        <h2 class="article__heading">Типовые схемы работы при проектировании</h2>
        <p>
          Как я уже говорил, в зависимости от сложности будущего сайта, будет
          различаться и список необходимых работ для создания проекта.
          Разберемся на примере уже реализованных нами проектных работа.
        </p>
        <h2 class="article__heading">АКВАРИУС</h2>
        <p>
          Региональный интернет-магазин сантехники с уже имеющимся сайтом. Так
          как заказчик планировал развивать свой бизнес и значительно увеличить
          охват, был необходим современный web-ресурс — старый сайт просто не
          соответствовал целям и задачам клиента, поэтому было принято решение
          создать новый в соответствии со всеми требованиями.
        </p>
        <p>
          В целях экономии времени и с условием наличия опыта работы бизнеса в
          интернете, было принято на этапе проектирования остановиться на
          минимальном списке работ.
        </p>
        <p>
          <b>
            Процесс проектирования, действительно, имеет в себе огромное
            количество тонкостей, но при этом всего лишь 10–15% времени на его
            разработку способно значительно сэкономить ваши ресурсы на этапе
            запуска сайта.</b
          >
        </p>
      </article>
    </div>
  </div>
</section>
