<section class="blog">
  <div class="container">
    <h1 class="blog__title">Блог</h1>

    <div class="blog__top">
      <ul class="blog__top-list">
        <li class="blog__top-item">
          <button class="blog__top-btn" type="button">#все</button>
        </li>
        <li class="blog__top-item">
          <button class="blog__top-btn" type="button">#CRM</button>
        </li>
        <li class="blog__top-item">
          <button class="blog__top-btn" type="button">
            #мобильная_разработка
          </button>
        </li>
        <li class="blog__top-item">
          <button class="blog__top-btn" type="button">#программирование</button>
        </li>
        <li class="blog__top-item">
          <button class="blog__top-btn" type="button">#интернет_магазин</button>
        </li>
      </ul>
    </div>

    <div class="blog__content">
      <ul class="blog__list">
        <li class="blog__item">
          <article class="blog-card">
            <div class="blog-card__top">
              <picture>
                <source srcset="img/blog/1.webp" type="image/webp" />
                <img class="image" src="img/blog/1.jpg" alt="blog" />
              </picture>
            </div>
            <div class="blog-card__body">
              <div class="blog-card__tags">
                <a class="blog-card__tag" href="#">#интернет_магазин </a>
                <a class="blog-card__tag" href="#">#мобильная_разработка</a>
              </div>

              <h3 class="blog-card__title">
                <a href="#">
                  Начинаем с малого: что такое <br />
                  MVP и как это работает?
                </a>
              </h3>
            </div>
          </article>
        </li>
        <li class="blog__item">
          <article class="blog-card">
            <div class="blog-card__top">
              <picture>
                <source srcset="img/blog/2.webp" type="image/webp" />
                <img class="image" src="img/blog/2.jpg" alt="blog" />
              </picture>
            </div>
            <div class="blog-card__body">
              <div class="blog-card__tags">
                <a class="blog-card__tag" href="#">#интернет_магазин </a>
                <a class="blog-card__tag" href="#">#мобильная_разработка</a>
              </div>

              <h3 class="blog-card__title">
                <a href="#">
                  Как дизайн сайта влияет на <br />
                  поведение пользователей
                </a>
              </h3>
            </div>
          </article>
        </li>
        <li class="blog__item">
          <article class="blog-card">
            <div class="blog-card__top">
              <picture>
                <source srcset="img/blog/3.webp" type="image/webp" />
                <img class="image" src="img/blog/3.jpg" alt="blog" />
              </picture>
            </div>
            <div class="blog-card__body">
              <div class="blog-card__tags">
                <a class="blog-card__tag" href="#">#интернет_магазин </a>
                <a class="blog-card__tag" href="#">#мобильная_разработка</a>
              </div>

              <h3 class="blog-card__title">
                <a href="#">
                  Карточка товара для интернет-магазина: 11 шагов к высокой
                  конверсии
                </a>
              </h3>
            </div>
          </article>
        </li>
        <li class="blog__item">
          <article class="blog-card">
            <div class="blog-card__top">
              <picture>
                <source srcset="img/blog/4.webp" type="image/webp" />
                <img class="image" src="img/blog/4.jpg" alt="blog" />
              </picture>
            </div>
            <div class="blog-card__body">
              <div class="blog-card__tags">
                <a class="blog-card__tag" href="#">#интернет_магазин </a>
                <a class="blog-card__tag" href="#">#мобильная_разработка</a>
              </div>

              <h3 class="blog-card__title">
                <a href="#">
                  Начинаем с малого: что такое <br />
                  MVP и как это работает?
                </a>
              </h3>
            </div>
          </article>
        </li>
        <li class="blog__item">
          <article class="blog-card">
            <div class="blog-card__top">
              <picture>
                <source srcset="img/blog/5.webp" type="image/webp" />
                <img class="image" src="img/blog/5.jpg" alt="blog" />
              </picture>
            </div>
            <div class="blog-card__body">
              <div class="blog-card__tags">
                <a class="blog-card__tag" href="#">#интернет_магазин </a>
                <a class="blog-card__tag" href="#">#мобильная_разработка</a>
              </div>

              <h3 class="blog-card__title">
                <a href="#">
                  Как дизайн сайта влияет на <br />
                  поведение пользователей
                </a>
              </h3>
            </div>
          </article>
        </li>
        <li class="blog__item">
          <article class="blog-card">
            <div class="blog-card__top">
              <picture>
                <source srcset="img/blog/6.webp" type="image/webp" />
                <img class="image" src="img/blog/6.jpg" alt="blog" />
              </picture>
            </div>
            <div class="blog-card__body">
              <div class="blog-card__tags">
                <a class="blog-card__tag" href="#">#интернет_магазин </a>
                <a class="blog-card__tag" href="#">#мобильная_разработка</a>
              </div>

              <h3 class="blog-card__title">
                <a href="#">
                  Карточка товара для интернет-магазина: 11 шагов к высокой
                  конверсии
                </a>
              </h3>
            </div>
          </article>
        </li>
      </ul>
    </div>

    <div class="blog__pagination pagination">
      <ul class="pagination__list">
        <li class="pagination__item">
          <button class="pagination__btn active" type="button">1</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">2</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">3</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">4</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">5</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">6</button>
        </li>
      </ul>
    </div>
  </div>
</section>
