<section class="form-brif">
  <div class="container">
    <div class="form-brif__wrapper">
      <h1 class="form-brif__title">Бриф на разработку сайта</h1>

      <form class="form-submit">
        <div class="form-submit__inner">
          <div class="form-submit__group">
            <input
              class="form-submit__input"
              type="text"
              placeholder="Введите название компании"
            />
            <label class="form-submit__label">Компания</label>
          </div>
          <div class="form-submit__group">
            <input
              class="form-submit__input"
              type="text"
              placeholder="Иванов Иван Иванович"
            />
            <label class="form-submit__label">Представитель</label>
          </div>
          <div class="form-submit__group">
            <input
              class="form-submit__input"
              type="text"
              placeholder="Введите контакты"
            />
            <label class="form-submit__label">Контакты</label>
          </div>
          <div class="form-submit__group">
            <input
              class="form-submit__input"
              type="text"
              placeholder="Существующий сайт"
            />
            <label class="form-submit__label">Сайт</label>
          </div>
          <div class="form-submit__group form-submit__group--big">
            <input
              class="form-submit__input"
              type="text"
              placeholder="Информация о продуктах, услугах"
            />
            <label class="form-submit__label">Информация</label>
          </div>
          <div class="form-submit__group">
            <input
              class="form-submit__input"
              type="text"
              placeholder="Компаньоны в сфере деятельности"
            />
            <label class="form-submit__label">Ссылки</label>
          </div>
          <div class="form-submit__group">
            <input
              class="form-submit__input"
              type="text"
              placeholder="Конкуренты в сфере деятельности"
            />
            <label class="form-submit__label">Ссылки</label>
          </div>
          <div class="form-submit__group">
            <input
              class="form-submit__input"
              type="text"
              placeholder="Прикрепить лого, брендбук и тд."
            />
            <label class="form-submit__label">Файлы</label>
          </div>
          <div class="form-submit__group">
            <input
              class="form-submit__input"
              type="text"
              placeholder="Ссылка для скачивания файлов"
            />
            <label class="form-submit__label">Ссылка</label>
          </div>
          <div class="form-submit__group form-submit__group--big">
            <input
              class="form-submit__input"
              type="text"
              placeholder="Опишите деятельность компании"
            />
            <label class="form-submit__label">О компании</label>
          </div>

          <div class="form-submit__group form-submit__group--big">
            <div class="form-submit__checkboxes">
              <label class="checkbox">
                <input
                  class="checkbox__input"
                  name="type"
                  type="radio"
                  required
                />
                <span class="checkbox__box"></span>
                <span class="checkbox__text"> Корпоративный </span>
              </label>
              <label class="checkbox">
                <input
                  class="checkbox__input"
                  name="type"
                  type="radio"
                  required
                />
                <span class="checkbox__box"></span>
                <span class="checkbox__text"> Интернет-магазин </span>
              </label>
              <label class="checkbox">
                <input
                  class="checkbox__input"
                  name="type"
                  type="radio"
                  required
                />
                <span class="checkbox__box"></span>
                <span class="checkbox__text"> Лендинг </span>
              </label>
              <label class="checkbox">
                <input
                  class="checkbox__input"
                  name="type"
                  type="radio"
                  required
                />
                <span class="checkbox__box"></span>
                <span class="checkbox__text"> Онлайн-сервис (платформа) </span>
              </label>
            </div>
            <label class="form-submit__label">Тип сайта, который Вам необходим</label>
          </div>

          <div class="form-submit__group form-submit__group--big">
            <input
              class="form-submit__input"
              type="text"
              placeholder="Структура сайта (меню, подменю и т.д.)"
            />
            <label class="form-submit__label">Структура сайта</label>
          </div>

          <div class="form-submit__group">
            <button class="form-submit__btn btn" type="submit">
              Отправить бриф
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
