<section class="form-brif">
  <div class="container">
    <div class="form-brif__wrapper">
      <h1 class="form-brif__title" data-aos="fade-up" data-aos-duration="1000">
        Бриф на SEO - продвижение
      </h1>

      <form class="form-submit">
        <div
          class="form-submit__inner"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          <div class="form-submit__group">
            <input
              class="form-submit__input"
              type="text"
              placeholder="Введите название компании"
            />
            <label class="form-submit__label">Компания</label>
          </div>
          <div class="form-submit__group">
            <input
              class="form-submit__input"
              type="text"
              placeholder="Иванов Иван Иванович"
            />
            <label class="form-submit__label">Представитель</label>
          </div>
          <div class="form-submit__group">
            <input
              class="form-submit__input"
              type="text"
              placeholder="Введите контакты"
            />
            <label class="form-submit__label">Контакты</label>
          </div>
          <div class="form-submit__group">
            <input
              class="form-submit__input"
              type="text"
              placeholder="Адрес вашего сайта"
            />
            <label class="form-submit__label">Сайт</label>
          </div>
          <div class="form-submit__group">
            <input
              class="form-submit__input"
              type="text"
              placeholder="Желаемый период SEO-продвижения"
            />
            <label class="form-submit__label">Период работы</label>
          </div>
          <div class="form-submit__group">
            <input
              class="form-submit__input"
              type="text"
              placeholder="Предполагаемый ежемесячный бюджет"
            />
            <label class="form-submit__label">Бюджет</label>
          </div>

          <div class="form-submit__group form-submit__group--big">
            <input
              class="form-submit__input"
              type="text"
              placeholder="Опишите приблизительно вашу целевую аудиторию"
            />
            <label class="form-submit__label">Аудитория</label>
          </div>
          <div class="form-submit__group form-submit__group--big">
            <input
              class="form-submit__input"
              type="text"
              placeholder="Укажите список ваших основных конкурентов, ссылки на их web-сайты"
            />
            <label class="form-submit__label">Ссылки</label>
          </div>
          <div class="form-submit__group form-submit__group--big">
            <input
              class="form-submit__input"
              type="text"
              placeholder="На какие регионы преимущественно должно быть направлено продвижение"
            />
            <label class="form-submit__label">Регионы</label>
          </div>

          <div class="form-submit__group form-submit__group--big">
            <div class="form-submit__checkboxes">
              <label class="checkbox">
                <input
                  class="checkbox__input"
                  name="type"
                  type="radio"
                  required
                  checked
                />
                <span class="checkbox__box"></span>
                <span class="checkbox__text"> Да </span>
              </label>
              <label class="checkbox">
                <input
                  class="checkbox__input"
                  name="type"
                  type="radio"
                  required
                />
                <span class="checkbox__box"></span>
                <span class="checkbox__text">Нет</span>
              </label>
              <label class="checkbox">
                <input
                  class="checkbox__input"
                  name="type"
                  type="radio"
                  required
                />
                <span class="checkbox__box"></span>
                <span class="checkbox__text"> На ваше усмотрение </span>
              </label>
            </div>
            <label class="form-submit__label">
              Хотите ли вы задействовать контекстную рекламу
            </label>
          </div>
          <div class="form-submit__group form-submit__group--big">
            <div class="form-submit__checkboxes">
              <label class="checkbox">
                <input
                  class="checkbox__input"
                  name="change"
                  type="radio"
                  required
                  checked
                />
                <span class="checkbox__box"></span>
                <span class="checkbox__text">
                  Ничего на сайте менять нельзя
                </span>
              </label>

              <label class="checkbox">
                <input
                  class="checkbox__input"
                  name="change"
                  type="radio"
                  required
                />
                <span class="checkbox__box"></span>
                <span class="checkbox__text"> Все необходимые изменения</span>
              </label>
            </div>
            <label class="form-submit__label">
              На какие изменения на сайте Вы готовы пойти
            </label>
          </div>

          <div class="form-submit__group">
            <button class="form-submit__btn btn" type="submit">
              Отправить бриф
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
