<section class="cases">
  <div class="container">
    <div
      class="about-development__uppertitle uppertitle"
      data-aos="fade-right"
      data-aos-duration="1000"
    >
      <span class="uppertitle__text">КЕЙСЫ</span>

      <span class="uppertitle__box"></span>
      <span class="uppertitle__line"></span>
    </div>
    <div
      class="about-development__top"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      <div
        class="about-development__text"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        Чтобы убедить Вас, что продвижение сайта в поисковых системах не будет
        пустой тратой ваших средств, мы ежедневно подготавливаем полный отчет о
        всех тратах, и предоставляем доступы к системам метрики и аналитики.
      </div>
      <h2 class="about-development__heading">
        <span>Кейсы</span> по SEO продвижению
      </h2>
    </div>

    <div class="cases__wrapper">
      <div
        class="cases__slider swiper"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <ul class="cases__slides swiper-wrapper">
          <li class="cases__slide swiper-slide">
            <div class="cases-card">
              <div class="cases-card__img">
                <picture>
                  <source srcset="img/cases.webp" type="image/webp" />
                  <img src="img/cases.jpg" alt="cases" />
                </picture>
              </div>

              <div class="cases-card__right">
                <h3 class="cases-card__title">
                  Установка ГБО <span></span>
                  в Москве
                </h3>
                <p class="cases-card__text">
                  Результат нашей работы в нише по установке газобалонного
                  оборудования в Москве.
                </p>
              </div>
            </div>
          </li>
          <li class="cases__slide swiper-slide">
            <div class="cases-card">
              <div class="cases-card__img">
                <picture>
                  <source srcset="img/cases.webp" type="image/webp" />
                  <img src="img/cases.jpg" alt="cases" />
                </picture>
              </div>

              <div class="cases-card__right">
                <h3 class="cases-card__title">
                  Установка ГБО <span></span>
                  в Москве
                </h3>
                <p class="cases-card__text">
                  Результат нашей работы в нише по установке газобалонного
                  оборудования в Москве.
                </p>
              </div>
            </div>
          </li>
          <li class="cases__slide swiper-slide">
            <div class="cases-card">
              <div class="cases-card__img">
                <picture>
                  <source srcset="img/cases.webp" type="image/webp" />
                  <img src="img/cases.jpg" alt="cases" />
                </picture>
              </div>

              <div class="cases-card__right">
                <h3 class="cases-card__title">
                  Установка ГБО <span></span>
                  в Москве
                </h3>
                <p class="cases-card__text">
                  Результат нашей работы в нише по установке газобалонного
                  оборудования в Москве.
                </p>
              </div>
            </div>
          </li>
        </ul>

        <div class="cases__arrows">
          <button
            class="swiper-button-prev"
            type="button"
            aria-label="Предыдущий"
          ></button>
          <button
            class="swiper-button-next"
            type="button"
            aria-label="Следующий"
          ></button>
        </div>
      </div>
    </div>
  </div>
</section>
