<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="contacts__title">Контакты</h2>

    <ul class="contacts__list">
      <li class="contacts__item">
        <address class="contacts__address">Варшавское шоссе, 28</address>
      </li>
      <li class="contacts__item">
        <a class="contacts__link" href="mailto:hello@advanc-media.ru"
          >hello@advanc-media.ru</a
        >
      </li>
      <li class="contacts__item">
        <a class="contacts__link" href="tel:+79632975336">+7 (963) 297-53-36</a>
      </li>
      <li class="contacts__item">
        <button class="contacts__btn" type="button">Стать клиентом</button>
      </li>
    </ul>
  </div>

  <div class="contacts__map map">
    <iframe
      src="https://yandex.ru/map-widget/v1/?um=constructor%3A7880d6b782acfcdc43a726f6afeff26f0b2aaf25ae270c6b275caf19299f3f63&amp;source=constructor"
      width="776"
      height="400"
    ></iframe>
  </div>
</section>
