<section class="descr descr--mobile">
  <div class="container">
    <div
      class="descr__uppertitle uppertitle"
      data-aos="fade-right"
      data-aos-duration="1000"
    >
      <span class="uppertitle__text"> О НАС</span>

      <span class="uppertitle__box"></span>
      <span class="uppertitle__line"></span>
    </div>
    <div class="descr__wrapper">
      <p class="descr__text" data-aos="fade-up" data-aos-duration="1000">
        Создаем индивидуальные решения для смартфонов, планшетов, любых
        мобильных устройств. Помогаем решить задачи вашего бизнеса,
        автоматизировать и унифицировать процессы, учитывая специфику и
        обеспечивая любую необходимую сложность.
      </p>

      <ul class="descr__list">
        <li class="descr-item" data-aos="fade-up" data-aos-duration="1000">
          <span class="descr-item__top">
            <span class="descr-item__count"> 01</span>
            <span class="descr-item__title"> Удобство </span>
          </span>
          <p class="descr-item__text">
            Повышайте конверсию за счет удобства приложения. Конверсия в
            приложении в 4 раза выше, чем в мобильной версии сайта, и в 1,5
            выше, чем в десктопе.
          </p>
        </li>
        <li class="descr-item" data-aos="fade-up" data-aos-duration="1000">
          <span class="descr-item__top">
            <span class="descr-item__count"> 02</span>
            <span class="descr-item__title"> Продажи</span>
          </span>
          <p class="descr-item__text">
            Позвольте вашим клиентам расплачиваться с вами в один клик! В
            приложении можно безопасно привязать карту и оплачивать через Google
            Pay или Apple Pay.
          </p>
        </li>
        <li class="descr-item" data-aos="fade-up" data-aos-duration="1000">
          <span class="descr-item__top">
            <span class="descr-item__count"> 03</span>
            <span class="descr-item__title"> Фитбек </span>
          </span>
          <p class="descr-item__text">
            Настройте двухстороннюю связь со своими клиентами и повысьте
            лояльность целевой аудитории. Опросы, чат, мгновенная поддержка –
            для укрепления вашего бизнеса!
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
