<section class="descr">
  <div class="container">
    <div
      class="descr__uppertitle uppertitle"
      data-aos="fade-right"
      data-aos-duration="1000"
    >
      <span class="uppertitle__text"> О НАС</span>

      <span class="uppertitle__box"></span>
      <span class="uppertitle__line"></span>
    </div>
    <div class="descr__wrapper">
      <p class="descr__text" data-aos="fade-up" data-aos-duration="1000">
        Опыт и анализ выполненных проектов позволяет нам стабильно улучшать
        качество работ. Мы выполняем ожидания крупнейших компаний: Бинбанк,
        Castrol, Samsung, 1С и т.д. Большинство запросов на разработку сайтов
        поступает по рекомендациям наших клиентов.
      </p>

      <ul class="descr__list">
        <li class="descr-item" data-aos="fade-up" data-aos-duration="1000">
          <span class="descr-item__top">
            <span class="descr-item__count"> 01</span>
            <span class="descr-item__title">
              Опытные <br />
              специалисты</span
            >
          </span>
          <p class="descr-item__text">
            У нас накоплен огромный опыт в различных сферах бизнеса. Можем
            продвинуть с нуля любую тему.
          </p>
        </li>
        <li class="descr-item" data-aos="fade-up" data-aos-duration="1000">
          <span class="descr-item__top">
            <span class="descr-item__count"> 02</span>
            <span class="descr-item__title">
              Погружение <br />
              в проект</span
            >
          </span>
          <p class="descr-item__text">
            Мы детально изучаем ваш бизнес и предлагаем только работающие и
            приносящие прибыль функции.
          </p>
        </li>
        <li class="descr-item" data-aos="fade-up" data-aos-duration="1000">
          <span class="descr-item__top">
            <span class="descr-item__count"> 03</span>
            <span class="descr-item__title">
              Работаем <br />
              под ключ
            </span>
          </span>
          <p class="descr-item__text">
            Вы получите полностью готовый сайт без дополнительных затрат, все
            детали будут проработаны и реализованы.
          </p>
        </li>
        <li class="descr-item" data-aos="fade-up" data-aos-duration="1000">
          <span class="descr-item__top">
            <span class="descr-item__count"> 04</span>
            <span class="descr-item__title">
              Техническая <br />
              поддержка
            </span>
          </span>
          <p class="descr-item__text">
            После разработки мы предлагаем техническую поддержку и развитие
            проекта.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
