<section class="descr descr--seo">
  <div class="container">
    <div
      class="descr__uppertitle uppertitle"
      data-aos="fade-right"
      data-aos-duration="1000"
    >
      <span class="uppertitle__text"> О НАС</span>

      <span class="uppertitle__box"></span>
      <span class="uppertitle__line"></span>
    </div>
    <div class="descr__wrapper">
      <p class="descr__text" data-aos="fade-up" data-aos-duration="1000">
        В первую очередь продвижение сайта начинается с изучения рынка. Мы
        изучаем потребности Ваших клиентов и клиентов Ваших прямых конкурентов.
        Такой анализ помогает быстрее вывести бизнес на лидирующие позиции в
        сети.
      </p>

      <ul class="descr__list">
        <li class="descr-item" data-aos="fade-up" data-aos-duration="1000">
          <span class="descr-item__top">
            <span class="descr-item__count"> 01</span>
            <span class="descr-item__title"> Заявки </span>
          </span>
          <p class="descr-item__text">
            Увеличиваем число заявок, звонков и рост продаж
          </p>
        </li>
        <li class="descr-item" data-aos="fade-up" data-aos-duration="1000">
          <span class="descr-item__top">
            <span class="descr-item__count"> 02</span>
            <span class="descr-item__title"> Узнаваемость</span>
          </span>
          <p class="descr-item__text">
            Повышаем узнаваемость бренда и качество трафика
          </p>
        </li>
        <li class="descr-item" data-aos="fade-up" data-aos-duration="1000">
          <span class="descr-item__top">
            <span class="descr-item__count"> 03</span>
            <span class="descr-item__title"> Аудитория </span>
          </span>
          <p class="descr-item__text">
            Увеличиваем охват постоянной аудитории сайта
          </p>
        </li>
        <li class="descr-item" data-aos="fade-up" data-aos-duration="1000">
          <span class="descr-item__top">
            <span class="descr-item__count"> 04</span>
            <span class="descr-item__title"> Бренд </span>
          </span>
          <p class="descr-item__text">
            Укрепляем престиж и привлекательность бренда
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
