<section class="faq faq--mobile">
  <div class="container">
    <div
      class="faq__uppertitle uppertitle"
      data-aos="fade-right"
      data-aos-duration="1000"
    >
      <span class="uppertitle__text">FAQ</span>

      <span class="uppertitle__box"></span>
      <span class="uppertitle__line"></span>
    </div>
    <div class="faq__top" data-aos="fade-up" data-aos-duration="1000">
      <div class="faq__text">
        Мы открыты к сотрудничеству как с крупными компаниями, так и с
        амбициозными стартапами, которые впервые проходят путь создания
        веб-ресурсов, систем автоматизации и мобильного приложения.
      </div>
      <h2 class="faq__heading">Часто задаваемые <span>вопросы</span></h2>
    </div>

    <div class="faq__wrapper">
      <div
        class="faq-accordion accordion"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <button class="faq-accordion__control accordion-control" type="button">
          Сколько по времени занимает разработка?
        </button>
        <div class="faq-accordion__content accordion-content">
          <p>
            Сроки реализации проекта в первую очередь зависят от количества и
            сложности функций и экранов мобильного приложения.
          </p>
        </div>
      </div>
      <div
        class="faq-accordion accordion"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <button class="faq-accordion__control accordion-control" type="button">
          Вы работаете по договору?
        </button>
        <div class="faq-accordion__content accordion-content">
          <p>
            Мы работаем с надежными и удобными CMS: ModX – для лендингов и
            корпоративных, OpenCart – для интернет-магазинов.
          </p>
        </div>
      </div>
      <div
        class="faq-accordion accordion"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <button class="faq-accordion__control accordion-control" type="button">
          Предоставляете ли гарантию?
        </button>
        <div class="faq-accordion__content accordion-content">
          <p>
            Мы работаем с надежными и удобными CMS: ModX – для лендингов и
            корпоративных, OpenCart – для интернет-магазинов.
          </p>
        </div>
      </div>
      <div
        class="faq-accordion accordion"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <button class="faq-accordion__control accordion-control" type="button">
          Можете интегрировать приложение к стороннему сервису?
        </button>
        <div class="faq-accordion__content accordion-content">
          <p>
            Мы работаем с надежными и удобными CMS: ModX – для лендингов и
            корпоративных, OpenCart – для интернет-магазинов.
          </p>
        </div>
      </div>
      <div
        class="faq-accordion accordion"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <button class="faq-accordion__control accordion-control" type="button">
          Сколько стоит разработка мобильного приложения?
        </button>
        <div class="faq-accordion__content accordion-content">
          <p>
            Мы работаем с надежными и удобными CMS: ModX – для лендингов и
            корпоративных, OpenCart – для интернет-магазинов.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
