<section class="faq">
  <div class="container">
    <div
      class="faq__uppertitle uppertitle"
      data-aos="fade-right"
      data-aos-duration="1000"
    >
      <span class="uppertitle__text">FAQ</span>

      <span class="uppertitle__box"></span>
      <span class="uppertitle__line"></span>
    </div>
    <div class="faq__top"  data-aos="fade-up"
    data-aos-duration="1000">
      <div class="faq__text">
        Опыт и анализ выполненных проектов позволяет нам стабильно улучшать
        качество работ. Мы выполняем ожидания крупнейших компаний: Бинбанк,
        Castrol, Samsung, 1С и т.д. Большинство запросов на разработку сайтов
        поступает по рекомендациям наших клиентов.
      </div>
      <h2 class="faq__heading">Часто задаваемые <span>вопросы</span></h2>
    </div>

    <div class="faq__wrapper">
      <div
        class="faq-accordion accordion"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <button class="faq-accordion__control accordion-control" type="button">
          На каких CMS вы работаете?
        </button>
        <div class="faq-accordion__content accordion-content">
          <p>
            Мы работаем с надежными и удобными CMS: ModX – для лендингов и
            корпоративных, OpenCart – для интернет-магазинов.
          </p>
        </div>
      </div>
      <div
        class="faq-accordion accordion"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <button class="faq-accordion__control accordion-control" type="button">
          Какой срок разработки сата?
        </button>
        <div class="faq-accordion__content accordion-content">
          <p>
            Мы работаем с надежными и удобными CMS: ModX – для лендингов и
            корпоративных, OpenCart – для интернет-магазинов.
          </p>
        </div>
      </div>
      <div
        class="faq-accordion accordion"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <button class="faq-accordion__control accordion-control" type="button">
          Вы оказываете услуги по поддержке и продвижению?
        </button>
        <div class="faq-accordion__content accordion-content">
          <p>
            Мы работаем с надежными и удобными CMS: ModX – для лендингов и
            корпоративных, OpenCart – для интернет-магазинов.
          </p>
        </div>
      </div>
      <div
        class="faq-accordion accordion"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <button class="faq-accordion__control accordion-control" type="button">
          Входит ли наполнение страниц в стоимость?
        </button>
        <div class="faq-accordion__content accordion-content">
          <p>
            Мы работаем с надежными и удобными CMS: ModX – для лендингов и
            корпоративных, OpenCart – для интернет-магазинов.
          </p>
        </div>
      </div>
      <div
        class="faq-accordion accordion"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <button class="faq-accordion__control accordion-control" type="button">
          Вы работаете по договору?
        </button>
        <div class="faq-accordion__content accordion-content">
          <p>
            Мы работаем с надежными и удобными CMS: ModX – для лендингов и
            корпоративных, OpenCart – для интернет-магазинов.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
