<footer class="footer">
  <div class="container">
    <div class="footer__top" >
      <a class="footer__logo logo" href="#">
        <img src="img/logo-dark.png" alt="logo" />
      </a>

      <div class="menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="#">Проекты</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Услуги</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">О нас</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Блог</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Контакты</a>
          </li>
        </ul>
      </div>

      <a class="footer__link" href="tel:+79632975336">+7 (963) 297 53 36</a>

      <div class="brif-dropdown">
        <span class="brif-dropdown__name"> Бриф </span>

        <div class="brif-dropdown__inner">
          <ul class="brif-dropdown__list">
            <li class="brif-dropdown__item">
              <a class="brif-dropdown__link" href="#">Для сайта</a>
            </li>
            <li class="brif-dropdown__item">
              <a class="brif-dropdown__link" href="#">Для SEO</a>
            </li>
            <li class="brif-dropdown__item">
              <a class="brif-dropdown__link" href="#"> Для рекламы</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__middle">
      <p class="footer__text">Сopyright 2021 Адванс-Медиа.РФ</p>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-inner">
        <p class="footer__copy">
          Сopyright 2021 Адванс-Медиа.РФ
          <a href="#"> Политика конфиденциальности </a>
        </p>

        <a class="footer__phone" href="tel:+79632975336">
          +7 (963) 297 53 36
        </a>

        <div class="brif">
          <span class="brif__name"> Бриф: </span>
          <ul class="brif__list">
            <li class="brif__item">
              <a class="brif__link" href="#">Для сайта</a>
            </li>
            <li class="brif__item">
              <a class="brif__link" href="#">Для SEO</a>
            </li>
            <li class="brif__item">
              <a class="brif__link" href="#"> Для рекламы</a>
            </li>
          </ul>
        </div>

        <div class="socials">
          <ul class="socials__list">
            <li class="socials__item">
              <a class="socials__link socials__link--whatsapp" href="#">
                WhatsApp
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link socials__link--telegram" href="#">
                Telegram
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- <div class="footer__bottom fix-nav">
  <div class="container">
    <div class="footer__bottom-inner">
      <p class="footer__copy">
        Сopyright 2021 Адванс-Медиа.РФ
        <a href="#"> Политика конфиденциальности </a>
      </p>

      <a class="footer__phone" href="tel:+79632975336">
        +7 (963) 297 53 36
      </a>

      <div class="brif">
        <span class="brif__name"> Бриф: </span>
        <ul class="brif__list">
          <li class="brif__item">
            <a class="brif__link" href="#">Для сайта</a>
          </li>
          <li class="brif__item">
            <a class="brif__link" href="#">Для SEO</a>
          </li>
          <li class="brif__item">
            <a class="brif__link" href="#"> Для рекламы</a>
          </li>
        </ul>
      </div>

      <div class="socials">
        <ul class="socials__list">
          <li class="socials__item">
            <a class="socials__link socials__link--whatsapp" href="#">
              WhatsApp
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link socials__link--telegram" href="#">
              Telegram
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div> -->
