<section class="hero">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__offer">
        <h1 class="hero__title">
          Ваш надежный <br />
          ит - партнер
        </h1>
        <p class="hero__text">
          cоздаем сайты, программируем сложный <br />
          функционал продумываем дизайн
        </p>
      </div>
      <div class="hero__preview">
        <img src="img/decor.png" alt="decor" />
        <a class="hero__download" href="#">
          Скачать <br />
          Презентацию
        </a>
      </div>
    </div>
  </div>
</section>
