<section class="hero">
  <div class="container">
    <div class="hero__wrapper">
      <div
        class="hero__offer"
        data-aos="fade-right"
        data-aos-delay="700"
        data-aos-duration="1000"
      >
        <h1 class="hero__title">
          Ваш надежный <br />
          ит - партнер
        </h1>
        <p class="hero__text">
          cоздаем сайты, программируем сложный <br />
          функционал продумываем дизайн
        </p>
      </div>
      <div
        class="hero__preview"
        data-aos="fade-up"
        data-aos-delay="900"
        data-aos-duration="1000"
      >
        <div class="img-1 img">
          <img src="img/decor.png" alt="decor" />
        </div>
        <div class="img-2 img">
          <img src="img/hero-circles.png" alt="decor" />
        </div>
        <div class="img-3 img">
          <img src="img/hero-ellipse.png" alt="decor" />
        </div>

        <button
          class="hero__btn magnetic-btn"
          type="button"
          data-fancybox
          data-src="https://www.youtube.com/watch?v=Zv11L-ZfrSg&t=383s"
        >
          showreel
          <span> 2022</span>
        </button>
      </div>
    </div>
  </div>

  <a
    class="hero__download"
    href="#"
    data-aos="fade-left"
    data-aos-delay="800"
    data-aos-duration="1000"
  >
    Скачать <br />
    Презентацию
  </a>
</section>
