<div class="launch">
  <div class="container">
    <div class="launch__wrapper">
      <div
        class="launch__img js-tilt"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <picture>
          <source srcset="img/ellipse.webp" type="image/webp" />
          <img src="img/ellipse.png" alt="ellipse" />
        </picture>
      </div>
      <p class="launch__text" data-aos="fade-up" data-aos-duration="1000">
        При выполнении всех пунктов, мы запустим платную рекламу на ваш регион!
      </p>
    </div>
  </div>
</div>
