<section class="order">
  <div class="container">
    <div
      class="order__uppertitle uppertitle"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      <span class="uppertitle__text">ЗАЯВКА</span>

      <span class="uppertitle__box"></span>
      <span class="uppertitle__line"></span>
    </div>

    <div class="order__wrapper">
      <p class="order__text" data-aos="fade-up" data-aos-duration="1000">
        Давайте начнем работу <br />
        над Вашим проектом
      </p>

      <form class="order__form form-order">
        <div
          class="form-order__wrapper"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          <div class="form-order__inner active">
            <div class="form-order__group">
              <p class="form-order__label">шаг 1 → <span>ИМЯ</span></p>

              <input
                class="form-order__input"
                type="text"
                placeholder="Введите Ваше имя"
                required
              />
              <span class="form-order__line"></span>
            </div>
          </div>
          <div
            class="form-order__inner"
            data-aos="fade-up"
            data-aos-duration="1000"
          >
            <div class="form-order__group">
              <p class="form-order__label">
                шаг 2 → <span>КОНТАКТНЫЙ ТЕЛЕФОН</span>
              </p>

              <input
                class="form-order__input"
                type="tel"
                placeholder="+7 (___) ___ - __ - __"
                required
              />
              <span class="form-order__line"></span>
            </div>
          </div>
          <div
            class="form-order__inner"
            data-aos="fade-up"
            data-aos-duration="1000"
          >
            <div class="form-order__group">
              <p class="form-order__label">шаг 3 → <span>ВЫБРАТЬ БРИФ</span></p>
              <select class="select">
                <option value="1">Выберите бриф из списка</option>
                <option value="2">Бриф 1</option>
                <option value="3">Бриф 2</option>
                <option value="4">Бриф 3</option>
              </select>

              <span class="form-order__line"></span>
            </div>
          </div>
          <button
            class="form-order__next"
            type="submit"
            data-aos="fade-up"
            data-aos-duration="1000"
          >
            Далее
          </button>
        </div>
        <button class="form-order__btn btn-submit" type="submit">
          Отправить заявку
        </button>
      </form>
    </div>
  </div>
</section>
