<section class="order-big" id="brif-big">
  <div class="container">
    <div
      class="order-big__uppertitle uppertitle"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      <span class="uppertitle__text">ЗАЯВКА</span>

      <span class="uppertitle__box"></span>
      <span class="uppertitle__line"></span>
    </div>

    <div class="order-big__wrapper">
      <p class="order-big__text" data-aos="fade-up" data-aos-duration="1000">
        Обсудим детали?
        <span> Отправьте нам заявку и мы свяжемся с Вами</span>
      </p>

      <form class="order-big__form form-order">
        <div
          class="form-order__group"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          <label class="form-order__label"> ФИО или Название компании* </label>
          <input
            class="form-order__input"
            type="text"
            placeholder="Введите Ваше ФИО или компанию"
          />
          <span class="form-order__line"></span>
        </div>
        <div
          class="form-order__group"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          <label class="form-order__label"> Чем вы занимаетесь? </label>
          <input
            class="form-order__input"
            type="text"
            placeholder="Например, разработка сайтов"
          />
          <span class="form-order__line"></span>
        </div>
        <div
          class="form-order__group"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          <label class="form-order__label"> Контактный телефон </label>
          <input
            class="form-order__input"
            type="tel"
            placeholder="+7 (___) ___ - __ - __"
          />
          <span class="form-order__line"></span>
        </div>
        <div
          class="form-order__group"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          <button class="form-order__btn magnetic-btn" type="submit">
            Отправить заявку
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
