<section class="order">
  <div class="container">
    <div
      class="order__uppertitle uppertitle"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      <span class="uppertitle__text">ЗАЯВКА</span>

      <span class="uppertitle__box"></span>
      <span class="uppertitle__line"></span>
    </div>

    <div class="order__wrapper">
      <p class="order__text" data-aos="fade-up" data-aos-duration="1000">
        Давайте начнем работу <br />
        над Вашим проектом
      </p>

      <form
        class="request__form form-submit"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <div class="form-submit__end">Спасибо! Заявка отправлена</div>

        <div class="form-submit__inner">
          <div class="form-submit__steps">
            <div class="form-submit__step active">
              <div class="form-submit__group">
                <p class="form-submit__label">шаг 1 → <span>ИМЯ</span></p>
                <input
                  class="form-submit__input"
                  id="name"
                  type="text"
                  placeholder="Введите Ваше имя"
                  required
                />
              </div>
              <div class="form-submit__btns-group">
                <button type="button" class="form-submit__btn btn btn-next">
                  Далее
                </button>
              </div>
            </div>
            <div class="form-submit__step">
              <div class="form-submit__group">
                <p class="form-submit__label">
                  шаг 2 → <span>КОНТАКТНЫЙ ТЕЛЕФОН</span>
                </p>
                <input
                  class="form-submit__input"
                  id="name"
                  type="tel"
                  placeholder="+7 (___) ___ - __ - __"
                />
              </div>
              <div class="form-submit__btns-group">
                <button
                  type="button"
                  href="#"
                  class="form-submit__btn btn btn-prev"
                >
                  Назад
                </button>
                <button
                  type="button"
                  href="#"
                  class="form-submit__btn btn btn-next"
                >
                  Далее
                </button>
              </div>
            </div>
            <div class="form-submit__step">
              <div class="form-submit__group">
                <p class="form-submit__label">
                  шаг 3 → <span>ВЫБРАТЬ БРИФ</span>
                </p>

                <select class="select">
                  <option value="1">Бриф на SEO - продвижение</option>
                  <option value="2">Бриф на созданние сайта</option>
                  <option value="3">Бриф на создание приложения</option>
                </select>
              </div>
              <div class="form-submit__btns-group">
                <button
                  type="button"
                  href="#"
                  class="form-submit__btn btn submit-btn"
                >
                  Отправить
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
