<section class="partners-services">
  <div class="container">
    <div
      class="partners-services__uppertitle uppertitle"
      data-aos="fade-right"
      data-aos-duration="1000"
    >
      <span class="uppertitle__text">УСЛОВИЯ</span>

      <span class="uppertitle__box"></span>
      <span class="uppertitle__line"></span>
    </div>
    <div
      class="partners-services__top"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      <h2 class="partners-services__heading">
        <span>Что необходимо от вас</span> <br />
        для успешной работы на первичном этапе
      </h2>
    </div>

    <div class="partners-services__wrapper">
      <ul class="partners-services__list">
        <li
          class="partners-services-item"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          <div class="partners-services-item__dots">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <p class="partners-services-item__text">
            Развитые коммуникативные навыки, умение вести деловые переписки
          </p>
        </li>
        <li
          class="partners-services-item"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          <div class="partners-services-item__dots">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <p class="partners-services-item__text">
            Общие минимальные знания в маркетинге, создании и продвижении сайтов
          </p>
        </li>
        <li
          class="partners-services-item"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          <div class="partners-services-item__dots">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <p class="partners-services-item__text">
            Инициативность и самостоятельное принятие решений
          </p>
        </li>
        <li
          class="partners-services-item"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          <div class="partners-services-item__dots">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <p class="partners-services-item__text">
            Умение налаживать отношения с людьми
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
