<section class="projects">
  <div class="container">
    <h1 class="projects__title">Проекты</h1>

    <div class="projects__wrapper">
      <div class="projects__content projects-content">
        <div class="projects-content__row">
          <article class="projects-card">
            <a class="projects-card__link" href="#"></a>
            <div class="projects-card__top">
              <picture>
                <source srcset="img/projects/1.webp" type="image/webp" />
                <img src="img/projects/1.jpg" alt="projects" />
              </picture>
            </div>
            <span class="projects-card__badge projects-card__badge--text-dark">
              web-сайт
            </span>
            <div class="projects-card__body projects-card__body--text-dark">
              <h3 class="projects-card__title">Taysumova Marha</h3>
            </div>
          </article>
          <article class="projects-card">
            <a class="projects-card__link" href="#"></a>
            <div class="projects-card__top">
              <picture>
                <source srcset="img/projects/2.webp" type="image/webp" />
                <img src="img/projects/2.jpg" alt="projects" />
              </picture>
            </div>
            <span class="projects-card__badge">web-сайт</span>
            <div class="projects-card__body">
              <h3 class="projects-card__title">Технопарк Мосгормаш</h3>
            </div>
          </article>
        </div>
        <div class="projects-content__row">
          <article class="projects-card">
            <a class="projects-card__link" href="#"></a>
            <div class="projects-card__top">
              <picture>
                <source srcset="img/projects/3.webp" type="image/webp" />
                <img src="img/projects/3.jpg" alt="projects" />
              </picture>
            </div>
            <span class="projects-card__badge"> web-сайт </span>
            <div class="projects-card__body">
              <h3 class="projects-card__title">Эконом Септик</h3>
            </div>
          </article>
          <article class="projects-card">
            <a class="projects-card__link" href="#"></a>
            <div class="projects-card__top">
              <picture>
                <source srcset="img/projects/4.webp" type="image/webp" />
                <img src="img/projects/4.jpg" alt="projects" />
              </picture>
            </div>
            <span class="projects-card__badge">интернет-магазин</span>
            <div class="projects-card__body">
              <h3 class="projects-card__title">Mark Jacket</h3>
            </div>
          </article>
        </div>
        <div class="projects-content__row">
          <article class="projects-card">
            <a class="projects-card__link" href="#"></a>
            <div class="projects-card__top">
              <picture>
                <source srcset="img/projects/5.webp" type="image/webp" />
                <img src="img/projects/5.jpg" alt="projects" />
              </picture>
            </div>
            <span class="projects-card__badge"> web-сайт </span>
            <div class="projects-card__body">
              <h3 class="projects-card__title">Вили Улей</h3>
            </div>
          </article>
          <article class="projects-card">
            <a class="projects-card__link" href="#"></a>
            <div class="projects-card__top">
              <picture>
                <source srcset="img/projects/6.webp" type="image/webp" />
                <img src="img/projects/6.jpg" alt="projects" />
              </picture>
            </div>
            <span class="projects-card__badge">web-сайт</span>
            <div class="projects-card__body">
              <h3 class="projects-card__title">Art village club</h3>
            </div>
          </article>
        </div>
        <div class="projects-content__row">
          <article class="projects-card">
            <a class="projects-card__link" href="#"></a>
            <div class="projects-card__top">
              <picture>
                <source srcset="img/projects/7.webp" type="image/webp" />
                <img src="img/projects/7.jpg" alt="projects" />
              </picture>
            </div>
            <span class="projects-card__badge"> web-сайт </span>
            <div class="projects-card__body">
              <h3 class="projects-card__title">Moviemoscow</h3>
            </div>
          </article>
          <article class="projects-card">
            <a class="projects-card__link" href="#"></a>
            <div class="projects-card__top">
              <picture>
                <source srcset="img/projects/8.webp" type="image/webp" />
                <img src="img/projects/8.jpg" alt="projects" />
              </picture>
            </div>
            <span class="projects-card__badge">web-сайт</span>
            <div class="projects-card__body">
              <h3 class="projects-card__title">Alex Mebel</h3>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
