<section class="promo promo--mobile">
  <div class="container">
    <div class="promo__wrapper promo-anim">
      <div class="promo__offer">
        <h1 class="promo__title">
          Разработка мобильных <br />
          приложений
        </h1>
        <p class="promo__text">
          Качество разработки на каждом этапе: анализ, <br />
          аудит, UX-консалтинг, проектирование, дизайн, <br />
          тестирование.
        </p>
      </div>
      <div
        class="promo__preview"
        data-aos="fade-up"
        data-aos-delay="800"
        data-aos-duration="1000"
      >
        <!-- parallax-scene -->
        <div class="ellipse">
          <img src="img/promo-mobile/ellipse.png" alt="promo-seo" />
          <!-- data-depth="0.6" -->
        </div>

        <div class="sphere">
          <img src="img/promo-mobile/sphere.png" alt="promo-seo" />
          <!-- data-depth="0.6" -->
        </div>
        <div class="lines">
          <img src="img/promo-mobile/lines.png" alt="promo-seo" />
          <!-- data-depth="0.2" -->
        </div>
      </div>
    </div>
  </div>
</section>
