<section class="promo promo--seo">
  <div class="container">
    <div class="promo__wrapper">
      <div
        class="promo__offer"
        data-aos="fade-right"
        data-aos-delay="700"
        data-aos-duration="1000"
      >
        <h1 class="promo__title">
          SEO оптимизация <br />
          сайтов
        </h1>
        <p class="promo__text">
          Анализ текущих позиций в выдаче, проверка <br />
          технических составляющих, выявление <br />
          и устранение ошибок.
        </p>
      </div>
      <div
        class="promo__preview parallax-scene"
        data-aos="fade-up"
        data-aos-delay="800"
        data-aos-duration="1000"
      >
        <div class="ellipse" data-depth="0.6">
          <img src="img/promo-seo/ellipse.png" alt="promo-seo" />
        </div>
        <div class="sphere" data-depth="0.6">
          <img src="img/promo-seo/sphere.png" alt="promo-seo" />
        </div>
        <div class="lines" data-depth="0.2">
          <img src="img/promo-seo/lines.png" alt="promo-seo" />
        </div>
      </div>
    </div>
  </div>
</section>
