<section class="promo promo--sites">
  <div class="container">
    <div class="promo__wrapper promo-anim">
      <div
        class="promo__offer"
        data-aos="fade-right"
        data-aos-delay="700"
        data-aos-duration="1000"
      >
        <h1 class="promo__title">
          Разработка <br />
          сайтов
        </h1>
        <p class="promo__text">
          Создадим интернет-магазин, маркетплейс, <br />
          агрегатор, корпоративный сайт.
        </p>
      </div>
      <div
        class="promo__preview parallax-scene"
        data-aos="fade-up"
        data-aos-delay="800"
        data-aos-duration="1000"
      >
        <!-- <img src="img/promo-sites.png" alt="decor" /> -->
        <div class="ellipse" data-depth="0.6">
          <img src="img/promo-sites/ellipse.png" alt="promo-seo" />
        </div>
        <div class="sphere" data-depth="0.6">
          <img src="img/promo-sites/sphere.png" alt="promo-seo" />
        </div>
        <div class="lines" data-depth="0.2">
          <img src="img/promo-sites/lines.png" alt="promo-seo" />
        </div>
      </div>
    </div>
  </div>
</section>
