<section class="promo promo--seo">
  <div class="container">
    <div class="promo__wrapper">
      <div class="promo__offer">
        <h1 class="promo__title">
          SEO оптимизация <br />
          сайтов
        </h1>
        <p class="promo__text">
          Анализ текущих позиций в выдаче, проверка <br />
          технических составляющих, выявление <br />
          и устранение ошибок.
        </p>
      </div>
      <div class="promo__preview">
        <img src="img/promo-seo.png" alt="decor" />
      </div>
    </div>
  </div>
</section>
