<section class="promo promo--sites">
  <div class="container">
    <div class="promo__wrapper">
      <div class="promo__offer">
        <h1 class="promo__title">
          Разработка <br />
          сайтов
        </h1>
        <p class="promo__text">
          Создадим интернет-магазин, маркетплейс, <br />
          агрегатор, корпоративный сайт.
        </p>
      </div>
      <div class="promo__preview">
        <img src="img/promo-sites.png" alt="decor" />
      </div>
    </div>
  </div>
</section>
