<section class="promo">
  <div class="container">
    <div class="promo__wrapper">
      <div
        class="promo__offer"
        data-aos="fade-up"
        data-aos-delay="700"
        data-aos-duration="1000"
      >
        <h1 class="promo__title">
          Разработка мобильных <br />
          приложений
        </h1>
        <p class="promo__text">
          Качество разработки на каждом этапе: анализ, <br />
          аудит, UX-консалтинг, проектирование, дизайн, <br />
          тестирование.
        </p>
      </div>
      <div class="promo__preview">
        <img src="img/mobile.png" alt="decor" />
      </div>
    </div>
  </div>
</section>
