<section class="projects reveal" id="projects">
  <div class="container">
    <div
      class="projects__uppertitle uppertitle"
      data-aos="fade-right"
      data-aos-duration="1000"
    >
      <span class="uppertitle__text"> Проекты</span>

      <span class="uppertitle__box"></span>
      <span class="uppertitle__line"></span>
    </div>

    <div class="projects__wrapper">
      <div class="projects__content projects-content">
        <div
          class="projects-content__row"
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-delay="300"
        >
          <article class="projects-card">
            <a class="projects-card__link" href="#"></a>
            <div class="projects-card__top">
              <picture>
                <source srcset="img/projects/1.webp" type="image/webp" />
                <img src="img/projects/1.jpg" alt="projects" />
              </picture>
            </div>
            <span class="projects-card__badge projects-card__badge--text-dark">
              web-сайт
            </span>
            <div class="projects-card__body projects-card__body--text-dark">
              <h3 class="projects-card__title">Taysumova Marha</h3>
            </div>
          </article>
          <article class="projects-card">
            <a class="projects-card__link" href="#"></a>
            <div class="projects-card__top">
              <picture>
                <source srcset="img/projects/2.webp" type="image/webp" />
                <img src="img/projects/2.jpg" alt="projects" />
              </picture>
            </div>
            <span class="projects-card__badge">web-сайт</span>
            <div class="projects-card__body">
              <h3 class="projects-card__title">Технопарк Мосгормаш</h3>
            </div>
          </article>
        </div>
        <div
          class="projects-content__row"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          <article class="projects-card">
            <a class="projects-card__link" href="#"></a>
            <div class="projects-card__top">
              <picture>
                <source srcset="img/projects/3.webp" type="image/webp" />
                <img src="img/projects/3.jpg" alt="projects" />
              </picture>
            </div>
            <span class="projects-card__badge"> web-сайт </span>
            <div class="projects-card__body">
              <h3 class="projects-card__title">Эконом Септик</h3>
            </div>
          </article>
          <article class="projects-card">
            <a class="projects-card__link" href="#"></a>
            <div class="projects-card__top">
              <picture>
                <source srcset="img/projects/4.webp" type="image/webp" />
                <img src="img/projects/4.jpg" alt="projects" />
              </picture>
            </div>
            <span class="projects-card__badge">интернет-магазин</span>
            <div class="projects-card__body">
              <h3 class="projects-card__title">Mark Jacket</h3>
            </div>
          </article>
        </div>
        <div
          class="projects-content__row"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          <article class="projects-card">
            <a class="projects-card__link" href="#"></a>
            <div class="projects-card__top">
              <picture>
                <source srcset="img/projects/5.webp" type="image/webp" />
                <img src="img/projects/5.jpg" alt="projects" />
              </picture>
            </div>
            <span class="projects-card__badge"> web-сайт </span>
            <div class="projects-card__body">
              <h3 class="projects-card__title">Вили Улей</h3>
            </div>
          </article>
          <article class="projects-card">
            <a class="projects-card__link" href="#"></a>
            <div class="projects-card__top">
              <picture>
                <source srcset="img/projects/6.webp" type="image/webp" />
                <img src="img/projects/6.jpg" alt="projects" />
              </picture>
            </div>
            <span class="projects-card__badge">web-сайт</span>
            <div class="projects-card__body">
              <h3 class="projects-card__title">Art village club</h3>
            </div>
          </article>
        </div>
        <div
          class="projects-content__row"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          <article class="projects-card">
            <a class="projects-card__link" href="#"></a>
            <div class="projects-card__top">
              <picture>
                <source srcset="img/projects/7.webp" type="image/webp" />
                <img src="img/projects/7.jpg" alt="projects" />
              </picture>
            </div>
            <span class="projects-card__badge"> web-сайт </span>
            <div class="projects-card__body">
              <h3 class="projects-card__title">Moviemoscow</h3>
            </div>
          </article>
          <article class="projects-card">
            <a class="projects-card__link" href="#"></a>
            <div class="projects-card__top">
              <picture>
                <source srcset="img/projects/8.webp" type="image/webp" />
                <img src="img/projects/8.jpg" alt="projects" />
              </picture>
            </div>
            <span class="projects-card__badge">web-сайт</span>
            <div class="projects-card__body">
              <h3 class="projects-card__title">Alex Mebel</h3>
            </div>
          </article>
        </div>
      </div>

      <a
        class="projects__arrow arrow-right"
        href="projects.html"
        data-aos="zoom-in"
      >
        <span class="arrow-right__circle"></span>
        <span class="arrow-right__circle"></span>
        <span class="arrow-right__arrow">
          <img src="img/arrow-right.png" alt="arrow" />
        </span>
      </a>
    </div>
  </div>
</section>
