<section
  class="promo promo--partners"
  style="background-image: url('img/partners.jpg')"
>
  <div class="container">
    <div class="promo__wrapper">
      <div
        class="promo__offer"
        data-aos="fade-right"
        data-aos-delay="700"
        data-aos-duration="1000"
      >
        <h1 class="promo__title">
          Партнёрская <br />
          программа
        </h1>
        <p class="promo__text">
          для проектных менеджеров, частных <br />
          подрядчиков, бизнес-ассистентов и <br />
          менеджеров компаний
        </p>
        <a class="promo__btn magnetic-btn" href="#brif-big"
          >Обсудить подробности</a
        >
      </div>
      <!-- <div class="promo__preview">
        <img src="img/promo-sites.png" alt="decor" />
      </div> -->
    </div>
  </div>
</section>
