<section class="scheme-chart">
  <div class="container">
    <div
      class="scheme-chart__uppertitle uppertitle"
      data-aos="fade-right"
      data-aos-duration="1000"
    >
      <span class="uppertitle__text">Схема работы</span>

      <span class="uppertitle__box"></span>
      <span class="uppertitle__line"></span>
    </div>

    <div class="scheme-chart__wrapper">
      <div class="circles">
        <div class="circles__circle"></div>
      </div>
      <h2 class="scheme-chart__heading">
        <span>Как будет происходить</span> наше <br />
        взаимодействие
      </h2>
      <div class="scheme-chart__scheme">
        <div class="line-1"></div>
        <div class="line-2"></div>
        <div class="line-3"></div>
        <ul class="scheme-chart__list">
          <li class="chart-item">
            <div class="chart-item__top">
              <span class="count">01</span>
              <div class="decor">
                <span class="box"></span>
                <span class="line"></span>
              </div>
            </div>

            <p class="chart-item__text">
              Вы находите заинтересованное юридическое лицо в создании и
              продвижении сайта
            </p>
          </li>
          <li class="chart-item">
            <div class="chart-item__top">
              <span class="count">02</span>
              <div class="decor">
                <span class="box"></span>
                <span class="line"></span>
              </div>
            </div>
            <p class="chart-item__text">
              Узнаете его боли и присылаете нам полное описание задачи
            </p>
          </li>
          <li class="chart-item">
            <div class="chart-item__top">
              <span class="count">03</span>
              <div class="decor">
                <span class="box"></span>
                <span class="line"></span>
              </div>
            </div>
            <p class="chart-item__text">
              Мы делаем оценку работ, создаем смету
            </p>
          </li>
          <li class="chart-item">
            <div class="chart-item__top">
              <span class="count">04</span>
              <div class="decor">
                <span class="box"></span>
                <span class="line"></span>
              </div>
            </div>
            <p class="chart-item__text">
              Вы продаете с нашей помощью (дистанционно, по видео-конференц-
              связи)
            </p>
          </li>
          <li></li>
          <li class="chart-item">
            <div class="chart-item__top">
              <span class="count">07</span>
              <div class="decor">
                <span class="box"></span>
                <span class="line"></span>
              </div>
            </div>
            <p class="chart-item__text">
              Вы ежемесячно получаете свой процент!
            </p>
          </li>
          <li class="chart-item">
            <div class="chart-item__top">
              <span class="count">06</span>
              <div class="decor">
                <span class="box"></span>
                <span class="line"></span>
              </div>
            </div>
            <p class="chart-item__text">
              Вы ежемесячно получаете свой процент!
            </p>
          </li>
          <li class="chart-item">
            <div class="chart-item__top">
              <span class="count">05</span>
              <div class="decor">
                <span class="box"></span>
                <span class="line"></span>
              </div>
            </div>
            <p class="chart-item__text">
              Мы предоставляем вам доступ ко всем платежам от этого клиента
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
