<section class="scheme scheme--mobile">
  <div class="container">
    <div
      class="scheme__uppertitle uppertitle"
      data-aos="fade-right"
      data-aos-duration="1000"
    >
      <span class="uppertitle__text">СХЕМА РАБОТЫ</span>

      <span class="uppertitle__box"></span>
      <span class="uppertitle__line"></span>
    </div>
    <div
      class="about-development__top"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      <div class="about-development__text">
        Многолетний опыт работы на рынке интернет маркетинга позволил нашим
        клиентам расширить и укрепить свой бизнес и увеличить клиентскую базу.
      </div>
      <h2 class="about-development__heading">
        <span>Основные этапы</span> оптимизации сайтов:
      </h2>
    </div>
    <div class="scheme__wrapper">
      <ul class="scheme__list">
        <li class="scheme-item" data-aos="fade-up" data-aos-duration="1000">
          <span class="scheme-item__count">шаг 1</span>
          <span class="scheme-item__title">
            Комплексный <br />
            аудит сайта
          </span>
        </li>
        <li class="scheme-item" data-aos="fade-up" data-aos-duration="1000">
          <span class="scheme-item__count">шаг 2</span>
          <span class="scheme-item__title">
            Составление портрета <br />
            покупателя
          </span>
        </li>
        <li class="scheme-item" data-aos="fade-up" data-aos-duration="1000">
          <span class="scheme-item__count">шаг 3</span>
          <span class="scheme-item__title">Наполнение контентом </span>
        </li>
      </ul>
    </div>
  </div>
</section>
