<section class="scheme">
  <div class="container">
    <div
      class="scheme__uppertitle uppertitle"
      data-aos="fade-right"
      data-aos-duration="1000"
    >
      <span class="uppertitle__text">СХЕМА РАБОТЫ</span>

      <span class="uppertitle__box"></span>
      <span class="uppertitle__line"></span>
    </div>
    <div
      class="about-development__top"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      <div class="about-development__text">
        Опыт и анализ выполненных проектов позволяет нам стабильно улучшать
        качество работ. Мы выполняем ожидания крупнейших компаний: Бинбанк,
        Castrol, Samsung, 1С и т.д. Большинство запросов на разработку сайтов
        поступает по рекомендациям наших клиентов.
      </div>
      <h2 class="about-development__heading">
        Всего <span>3 шага</span> до готового сайта
      </h2>
    </div>
    <div class="scheme__wrapper">
      <ul class="scheme__list">
        <li class="scheme-item" data-aos="fade-up" data-aos-duration="1000">
          <span class="scheme-item__count">шаг 1</span>
          <span class="scheme-item__title">
            Обсуждение проекта <br />
            и заключение договора
          </span>
        </li>
        <li class="scheme-item" data-aos="fade-up" data-aos-duration="1000">
          <span class="scheme-item__count">шаг 2</span>
          <span class="scheme-item__title">
            Разработка дизайн - макетов <br />
            страниц
          </span>
        </li>
        <li class="scheme-item" data-aos="fade-up" data-aos-duration="1000">
          <span class="scheme-item__count">шаг 3</span>
          <span class="scheme-item__title"> Верстка и программировани </span>
        </li>
      </ul>
    </div>
  </div>
</section>
