<section class="services">
  <div class="container">
    <div class="services__wrapper">
      <div class="services__offer">
        <div class="services__uppertitle uppertitle">
          <span class="uppertitle__text"> услуги</span>

          <span class="uppertitle__box"></span>
          <span class="uppertitle__line"></span>
        </div>

        <h2>
          Чтобы получить успешный результат, мы объединили все возможные
          инструменты в один единый алгоритм
        </h2>

        <div class="services__bottom">
          <a class="arrow-circle" href="#projects">
            <span class="arrow-circle__circle"></span>
            <span class="arrow-circle__circle"></span>
            <span class="arrow-circle__circle"></span>
            <span class="arrow-circle__arrow">
              <small class="line"></small>
              <small class="triangle"></small>
            </span>
          </a>
        </div>
      </div>
      <div class="services__right">
        <ul class="services__list">
          <li class="services-item">
            <div class="services-item__left">
              <div class="services-item__squares squares">
                <span class="squares__square"></span>
                <span class="squares__square"></span>
                <span class="squares__square"></span>
              </div>
              <span class="services-item__count">01</span>
            </div>
            <div class="services-item__right">
              <h3 class="services-item__title">
                Разработка <span>web—сайтов</span>
              </h3>
              <p class="services-item__text">
                Создаем сайты по различным направлениям любого типа, будь то
                корпоративный сайт, интернет-магазин, онлайн-сервис и тд.
              </p>
            </div>
          </li>
          <li class="services-item">
            <div class="services-item__left">
              <div class="services-item__squares squares">
                <span class="squares__square"></span>
                <span class="squares__square"></span>
                <span class="squares__square"></span>
              </div>
              <span class="services-item__count">02</span>
            </div>
            <div class="services-item__right">
              <h3 class="services-item__title">Мобильное приложение</h3>
              <p class="services-item__text">
                Разрабатываем приложения любой сложности с учётом потребностей
                вашего бизнеса.
              </p>
            </div>
          </li>
          <li class="services-item">
            <div class="services-item__left">
              <div class="services-item__squares squares">
                <span class="squares__square"></span>
                <span class="squares__square"></span>
                <span class="squares__square"></span>
              </div>
              <span class="services-item__count">03</span>
            </div>
            <div class="services-item__right">
              <h3 class="services-item__title">SЕО — продвижение</h3>
              <p class="services-item__text">
                Анализ текущих позиций в выдаче, проверка технических
                составляющих, выявление и устранение ошибок и тд.
              </p>
            </div>
          </li>
        </ul>
      </div>

      <div class="services__bottom services__bottom--mobile">
        <a class="arrow-circle " href="#">
          <span class="arrow-circle__circle"></span>
          <span class="arrow-circle__circle"></span>
          <span class="arrow-circle__circle"></span>
          <span class="arrow-circle__arrow">
            <small class="line"></small>
            <small class="triangle"></small>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
