<section class="services-page">
  <div class="services-page__wrapper">
    <ul class="services-page__list">
      <li class="services-item">
        <a class="services-item__link" href="#"></a>
        <div class="container">
          <div class="services-item__inner">
            <div class="services-item__left">
              <div class="services-item__squares squares">
                <span class="squares__square"></span>
                <span class="squares__square"></span>
                <span class="squares__square"></span>
              </div>
              <span class="services-item__count">01</span>
            </div>
            <div class="services-item__right">
              <h3 class="services-item__title">
                Разработка <span>web—сайтов</span>
              </h3>
              <p class="services-item__text">
                Создадим интернет-магазин, маркетплейс, агрегатор, CRM-, ERP-,
                LMS-, <span></span>
                BI-систему, личный кабинет на выбор по одному из 3-ех бандлов
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="services-item">
        <a class="services-item__link" href="#"></a>
        <div class="container">
          <div class="services-item__inner">
            <div class="services-item__left">
              <div class="services-item__squares squares">
                <span class="squares__square"></span>
                <span class="squares__square"></span>
                <span class="squares__square"></span>
              </div>
              <span class="services-item__count">02</span>
            </div>
            <div class="services-item__right">
              <h3 class="services-item__title">Мобильное приложение</h3>
              <p class="services-item__text">
                Разработаем решение для развития нового канала трафика
                <span></span>
                и отстройки от конкурентов
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="services-item">
        <a class="services-item__link" href="#"></a>
        <div class="container">
          <div class="services-item__inner">
            <div class="services-item__left">
              <div class="services-item__squares squares">
                <span class="squares__square"></span>
                <span class="squares__square"></span>
                <span class="squares__square"></span>
              </div>
              <span class="services-item__count">03</span>
            </div>
            <div class="services-item__right">
              <h3 class="services-item__title">SЕО — продвижение</h3>
              <p class="services-item__text">
                Разработаем решение для развития нового канала трафика
                <span></span>
                и отстройки от конкурентов
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
